
  <p>This order, requested by <%= order.requestor.user_name %> at <%= order.created_at%>, is for <%= order.item.name%> from <%= order.restaurant.name%></p>
  <% unless current_user.id == order.requestor_id %>
   <form action="/pickup" method="POST">
    <input type="hidden" name="order" value="<%= order.id %>">
    <input type="submit" value="Pick Up">
  </form>
  <% else %> <div class="your-order-alert">(Hey, this is your order! You can get rid of it if you want.)</div></p>
    <form action="/order/<%= order.id %>" method="POST" class="order_delete">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete!">
  </form>
  <% end %>
