<div class="show-pickup">
  <p> <%= pickup.order.item.name%> from <%= pickup.order.restaurant.name%> for <%= pickup.order.requestor.user_name %> (requested at <%= pickup.order.created_at%>) </p>
  <form action="/pickup/<%= pickup.id %>" method="POST" class="pickup_complete">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Picked Up">
  </form>
</div>
